<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: parent(~{::title}, ~{::#content},~{::script} )}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div id="content">

        <!-- user is logged in : sidebar -->

        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar :: sidebar}"></div>
        </div>


        <div class="md:pl-64">
            <h1> This is my Dashboard.</h1>

            <div th:if="${loggedInUser}">
                I am loggedIN
            </div>
        </div>
    </div>
    
    <script>console.log("Dashboard page")</script>
</body>
</html>